<!doctype html>
<html lang="en" ng-app="eventsApp">
<head>
    
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>


    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

</head>
    

    <body>
       
        @RenderBody()
        



        @Scripts.Render("~/bundles/jquery","~/bundles/jslibs")

        
        
        
        @RenderSection("scripts", required: false)
        @RenderSection("ViewScripts", required: false)

    </body>
</html>

